<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GoldenStarApplication.Properties.Settings.BaseHotelConnectionString"
            connectionString="Data Source=DEVELOPPEUR;Initial Catalog=BaseHotel;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="GoldenStarApplication.Properties.Settings.BaseHopitalConnectionString"
            connectionString="Data Source=DEVELOPPEUR;Initial Catalog=BaseHopital;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="GoldenStarApplication.Properties.Settings.BaseGestionBrasimbaConnectionString"
            connectionString="Data Source=DEVELOPPEUR;Initial Catalog=BaseGestionBrasimba;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="GoldenStarApplication.Properties.Settings.BaseGestionBrasimbaConnectionString1"
            connectionString="Data Source=DESKTOP-6LF9CSG;Initial Catalog=BaseGestionBrasimba;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="GoldenStarApplication.Properties.Settings.BaseKpConnectionString"
            connectionString="Data Source=DESKTOP-6LF9CSG;Initial Catalog=BaseKp;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="GoldenStarApplication.Properties.Settings.KPSHOP_DBConnectionString"
            connectionString="Data Source=AFRISOFT;Initial Catalog=KPSHOP_DB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="GoldenStarApplication.Properties.Settings.KPSHOP_BENIConnectionString"
            connectionString="Data Source=Afrisoft;Initial Catalog=KPSHOP_BENI;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SqlClient" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.6.1.2" newVersion="4.6.1.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
